**/*.pyc
tf
tf-gpu
caffe
caffe-env
**/.history*
/data
/experiments
logs
*.log
*.o[0-9]*
logs-translation
logs-captioning
logs-captioing
logs-postedit
*.tmp
*.tmp.meta
checkpoint
tests/*.en
tests/*.de
.idea
tmp-*
out-example-*
