**/*.pyc
tf
tf-gpu
caffe
caffe-env
**/.history*
/data
logs
*.log
*.o[0-9]*
logs-translation
logs-captioning
logs-captioing
logs-postedit
*.tmp
*.tmp.meta
checkpoint
experiments
tests/*.en
tests/*.de
.idea