[submodule "GroundedTranslation"]
	path = GroundedTranslation
	url = git@github.com:elliottd/GroundedTranslation.git
[submodule "lib/subword-nmt"]
	path = lib/subword_nmt
	url = https://github.com/rsennrich/subword-nmt.git
