Jindřich Helcl <helcl@ufal.mff.cuni.cz>
Jindřich Helcl <j.helcl@sms.ed.ac.uk>
Jindřich Helcl <jindra.helcl@gmail.com>
Jindřich Libovický <libovicky@ufal.mff.cuni.cz>
Tom Kocmi <kocmanek@ufal.mff.cuni.cz>
Tom Kocmi <kocmitom@gmail.com>
Ondřej Cífka <ondra@cifka.com>
Dušan Variš <varis@ufal.mff.cuni.cz>
Ondřej Bojar <bojar@ufal.mff.cuni.cz>
Jan Hajič jr. <hajicj@ufal.mff.cuni.cz>
Václav Pavlíček <vaclav@pavlicek.cz>
Ondřej Dušek <o.dusek@hw.ac.uk>