termcolor
python-magic>=0.4.12
flask
ansiconv
numpy
pillow
git+https://github.com/aflc/pyter@857a1552443f139a3
pygments
typeguard

https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp35-cp35m-linux_x86_64.whl
